<div class="container">
	<h1>Welcome, <%= @user.name %></h1>

	<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
	<% end %>

	<div id="todolists">
		<h2>Todo Lists</h2>

		<%= form_with(model: @mission) do |form| %>
	    <div class="form">
	      <div class="form-group">
	      	<%= form.label :item, "為這張卡片輸入標題" %>
	      	<%= form.text_field :item, class: "form-control", autofocus: "true" %>
	      </div>
	      <div class="form-group">
	        <label for="todoDate">Due date</label>
	      	<%= form.text_field :duedate, class: "form-control", "id": "datetimepicker" %>
	      </div>
	      <div class="form-group">
	        <%= form.label :sorting, "優先順序" %>
	        <div>
	        	<%= form.select :sorting , Mission::SORTING, class: "form-control" %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= form.label :status, "狀態" %>
	        <div>
		        <%= form.select :status , Mission::STATUS, class: "form-control" %>
		    </div>
	      </div>
	      <button class="btn btn-primary">
	      	<%= 
	      		if params[:mission_id] 
	      			"更新任務"
	      		else 
	      			"新增任務"
	      		end 
	      	%>
	      </button>
	    </div>
	    <% end %>

	    <hr />

	    <table width="100%">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Item</th>
	          <th>Due date</th>
	          <th>狀態</th>
	          <th>優先順序</th>
	          <th width="70px"></th>
	          <th width="70px"></th>
	        </tr>
	      </thead>
	      <tbody is="draggable" tag="tbody">
	      	<% @missions.each do |mission| %>
	        <tr >
	          <td><%= mission.id %></td>
	          <td><%= mission.item %></td>
	          <td><%= mission.duedate %></td>
	          <td><%= Mission::STATUS[mission.status][0] %></td>
	          <td class="<%= 'text-danger' if mission.sorting == 0 %>"><%= Mission::SORTING[mission.sorting][0] %></td>
	          <td><%= link_to "編輯", user_path("mission_id": mission), class: "btn btn-success" %></td>
	          <td><%= link_to "刪除", mission, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
	        </tr>
	        <% end %>
	      </tbody>
	    </table>

	    <%= link_to "登出", sessions_destroy_path, method: :delete, class: "btn btn-success topRight" %>
	</div>
</div>