<div class="container">
	<h1>welcome, <%= @user.name %></h1>

	<div id="todolists">
		<h1>Todo Lists</h1>

		<%= form_with(model: @mission) do |form| %>
	    <div class="form">
	      <div class="form-group">
	      	<%= form.label :item, "為這張卡片輸入標題" %>
	      	<%= form.text_field :item, class: "form-control", autofocus: "true" %>
	      </div>
	      <div class="form-group">
	        <label for="todoDate">Due date</label>
	        <input type="text" name="duedate" class="form-control">
	      </div>
	      <button class="btn btn-primary">Add Todo</button>
	    </div>
	    <% end %>

	    <hr />

	    <table width="50%">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Item</th>
	          <th>Due date</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody is="draggable" tag="tbody">
	      	<% @missions.each do |mission| %>
	        <tr >
	          <td><%= mission.id %></td>
	          <td><%= mission.item %></td>
	          <td><%= mission.duedate %></td>
	          <td><%= link_to "Del","#", class: "btn btn-danger" %></td>
	        </tr>
	        <% end %>
	      </tbody>
	    </table>
	</div>
</div>